.links {
    padding-left: 10em;

    .menu a {
        color: white;
        font-weight: normal;
        font-size: 0.9em;
        display: inline-block;
        margin: 0 1em;
        text-decoration: none;
    }
}