.modalwrap {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10000;
    width: 100vw;
    height:100vh;
    overflow: scroll;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width:400px;
    min-height: 200px;
    background: white;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color:333;
    flex: 1 100%;

    header {
        flex: 0.5;
        background: #7b1fa2;
        color: #fff;
        padding: 0.3em;
        text-align: center;
        font-size: 0.9em;
        border: 1px solid white;
        border-radius:6px;
        position: relative;

        .close-action {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
        }
    }

    main {
        padding: 1em;
        border-left: 1px solid #7b1fa2;
        border-right: 1px solid #7b1fa2;
        border-bottom: 1px solid #7b1fa2;
        padding: 2em;

        mat-form-field {
            display: block;
            width: 80%;
            margin: 2em;
        }

    }

    footer {
        div {
            display: flex;
            align-items: center;
            padding: 2em;

            button {
                display: inline-block;
                margin: 0.5em 2em;
            }
        }
    }
}